BODY {font-family: Arial, Helvetica, sans-serif; font-size: 10pt}
TD {font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: black}
.header1 {  font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-weight: bold}
